@model BeanScene.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResId" />
            <div class="form-group">
                <label asp-for="NumOfGuests" class="control-label"></label>
                <input asp-for="NumOfGuests" class="form-control" />
                <span asp-validation-for="NumOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialReqs" class="control-label"></label>
                <input asp-for="SpecialReqs" class="form-control" />
                <span asp-validation-for="SpecialReqs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResStatus" class="control-label"></label>
                <select asp-for="ResStatus" class="form-control">
                    <option value="">Reservation Status</option>
                    @foreach (var stat in Enum.GetValues(typeof(resstatus)))
                    {
                        <option value="@stat">@stat</option>
                    }
                </select>
                <span asp-validation-for="ResStatus" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="SittingId" />
            <input type="hidden" asp-for="TableId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Duration" />
            <input type="hidden" asp-for="Source" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
