@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <p></p>
    <p></p>
    <div class="logo-container">
        <img src="~/uploads/Logo.jpg" alt="Logo" class="logo" />
    </div>
    <p></p>
    <p></p>
    <p></p> 
    <h1 class="display-4 text-primary"> Welcome! </h1>
    <p class="text-light">Welcome to BeanScene, where every cup of coffee is a story waiting to be told. <i class="bi bi-cup-hot-fill"></i></p>
    <p class="text-light">Whether you’re enjoying a quiet moment alone or sharing a laugh with friends, BeanScene embraces you with its cozy ambiance and friendly smiles. <i class="bi bi-emoji-smile-fill"></i></p>

    <p class="text-light">Step inside, and let the magic of BeanScene make you fall in love with coffee all over again. <i class="bi bi-stars"></i></a></p>
</div>
