<p></p>
<p></p>
<p></p>
<p></p>
@{
    ViewData["Title"] = "Our Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p></p>
<p></p>

<figure class="text-center">
    <blockquote class="blockquote">
        <p class="mb-0">
            At BeanScene, we respect your privacy and are committed to protecting any personal information you provide us.
            We collect and use your information only for purposes directly related to our services and to enhance your experience with us. We do not share your information with third parties unless required by law or with your explicit consent.
        </p>
        <p></p>
        <p class="text-light">By using our website, you agree to the terms of our privacy policy. </p>
    </blockquote>
</figure>

<p class="text-light">
    
</p>
<p></p>


